/*-------- MAIN STUFF ----------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #fff;
    margin: 0;
}

header {
    margin: 0 auto;
}

main {
    padding: 60px 0;
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 56px;


}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

p {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/*-------- BUTTON STUFF ----------*/

button.filter {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.button {
    text-decoration: none;
    color: #3633A2;
    background-color: #fff;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #3633A2;
    border-color: #3633A2;
}

.button-invert {
    background-color: transparent;
    color: #fff;
}

.button-invert:hover {
    background-color: #fff;
    border-color: #fff;
    color: #3633A2;
}

.topmenu_buttons {
    display: none;
}

.topmenu_buttons button:first-child {
    margin-right: 15px;
}

/*-------- FONT COLORS ----------*/

.white-text {
    color: #fff;
}

.black-text {
    color: #202124;
}

.purple-text {
    color: #3633A2;
}

/*-------- SPLASH ----------*/

#splash {
    margin: 0 auto;
    width: 100%;
    min-height: 56.25vw;
    background-color: #089296;
    background-image: url("../splash/splashmont.png");
    background-size: cover;
    background-position: 40% 50%;
}


#splash .navigation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#splash h1 {
    margin-bottom: 20px;
}

#splash h2 {
    margin-bottom: 5px;
}

#splash p {
    margin-bottom: 30px;
}

/*-------- * ----------*/

.header-content {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 120px;
}



.logo {
    width: 160px;
    margin-bottom: 30px;
}

/*-------- NAVIGATION ----------*/

.navigation {
    padding: 0 15px;
    display: none;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 20px;
    border-bottom: 2px solid transparent;
    transition: border 0.1s ease-in-out;
}

.navigation-link:hover {
    border-color: #fff;
}

/*-------- SORT COINS ----------*/

#sort_coins {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #089296;
}

#sort_coins {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background-color: #e0b780;
}

#sort_coins button {
    align-self: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#sort_coins .rank {
    flex-basis: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    color: #fff;
}

#sort_coins .title {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 700;
    color: #fff;
}

#sort_coins .value {
    padding-right: 10px;
    padding-left: 10px;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 700;
    color: #fff;
}

#sort_coins .change {
    flex-basis: 140px;
    text-align: right;
    font-weight: 700;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

#sort_coins .filter.valgt:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#sort_coins .filter.valgt:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#sort_coins .filter.valgt {
    background-color: #3633A2;
    color: #fff;
}

/*#sort_coins .filter.valgt.is-clicked::after,
#sort_coins .filter.valgt::after {
    content: '';
    height: 19px;
    width: 19px;
    background-color: #000;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;

}*/

/*-------- DATA CONTAINER ----------*/

.data-container img {
    max-width: 100%;
    display: block;
    width: 32px;
    height: 32px;
}

.data-container {
    display: grid;
    /*    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
    grid-row: 20px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 30px;
}

/*-------- COINS ----------*/

.coins-list-headline {
    font-size: 36px;
    margin-bottom: 20px;
}


.coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #A6ADB4;
}

.coin:hover .change.is-positive,
.coin:hover .change.is-negative {
    color: #fff;
}

.coin:hover {
    background-color: #788AE8;
    color: #fff;
}

.coin .rank {
    flex-basis: 25px;
    padding-left: 5px;
}

.coin .title-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    flex-grow: 1;
    flex-basis: 0;
}



.coin .title-logo-container .coin_logo {
    margin-right: 10px;
}

.coin .value {
    padding-right: 0px;
    flex-grow: 1;
    flex-basis: 0;
}

.coin .change {
    flex-basis: 50px;
}

/*-------- * ----------*/

#datasymbol {
    flex-basis: 0px;
    padding-right: 5px;
}

/*-------- POPUP ----------*/

#popup .change.is-positive,
.coin .change.is-positive {
    color: green;
}

#popup .change.is.negative,
.coin .change.is-negative {
    color: red;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    overflow: scroll;
    display: none;
}

#popup article {
    width: 80vw;
    margin: 4rem auto;
    border-radius: 4px;
    padding: 20px;
    /*    background-image: url(/bgr/blockchain20pro.png);
    background-size: contain;*/
    background-color: #fff;
    position: relative;
}


#popup img {
    max-width: 148px;
    max-height: 148px;
    padding: 20px;
}

#popup #fb_share {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}

/*-------- POPUP LUK KNAP ----------*/

#luk {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #202124;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/*-------- FACEBOOK SHARE KNAP ----------*/

#fb_share img {
    width: 40px;
    height: 40px;
    padding: 0;
}

/*-------- FOOTER MENU (IKKE BRUGT ENDNU) ----------*/

/*.footer_menu {
    position: fixed;
    margin: 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-gap: 20px;
    justify-content: center;
    text-transform: uppercase;
}

.footer_menu div {
    border: solid 2px #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.footer_menu div:hover {
    background-color: #fff;
}

.footer_menu img {
    width: 100%;
}

.footer_menu h4 {
    color: #000;
}*/

/*-------- FOOTER STUFF ----------*/

.footer {
    padding: 100px 0 40px 0;
    background-color: #3633A2;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-column {
    /*
    margin: 0 auto;
*/
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-flex;
    width: 80px;
}

.footer-logo-text {
    display: inline-flex;
    color: #fff;
    font-size: 46px;
    font-family: 'Quicksand', sans-serif;
}

.footer-list {
    list-style: none;
}

.footer-item {
    margin: 0 5px 0 0;
}

.footer-text {
    color: #fff;
    padding: 7px;
}

.footer-copy {
    display: flex;
    justify-content: center;
}

.footer-headline {
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

#full-name {
    display: none;
}


/*-------- MEDIA QUERIES ----------*/

@media (min-width: 600px) {
    #full-name {
        display: inline;
    }
}
    @media (min-width: 600px) {
        .coin .change {
            flex-basis: 80px;
        }
}
        @media (min-width: 600px) {
            #sort_coins .title {
                padding-right: 50px;
            }
}
            @media (min-width: 600px) {
                #sort_coins .rank {
                    padding-right: 20px;
                }
}
                @media (min-width: 600px) {
                    #datasymbol {
                        display: none;
                    }
}
                    @media (min-width: 600px) {
                        #popup article {
                            display: flex;
                        }
}
                        @media (min-width: 600px) {
                            .footer .container {
                                flex-direction: row;
                                flex-wrap: wrap;
                            }

                            .footer-column {
                                margin: 0;
                                width: 50%;
                            }

                            .footer-column:nth-child(2n + 1) {
                                padding-right: 30px;
                            }

                            .footer-column:nth-child(2n + 2) {
                                padding-left: 30px;
                            }
                        }

                        @media (min-width: 840px) {
                            .navigation {
                                display: block;
                            }

                            #splash {
                                background-position: top left;
                            }

                            #splash .navigation-header {
                                flex-direction: row;
                                align-items: center;
                                margin-bottom: 120px;
                                padding-top: 20px;
                            }

                            .topmenu_buttons {
                                display: block;
                                margin-left: auto;
                            }

                            .logo {
                                width: 60px;
                                margin: 0 30px 0 0;
                            }

                            .header-content {
                                margin: 0;
                            }
                        }

                        @media (min-width: 1100px) {
                            .footer-column {
                                width: 25%;
                            }

                            .footer-column:first-child {
                                padding: 0;
                            }

                            .footer-column:nth-child(2n + 1) {
                                padding-left: 30px;
                                padding-right: 0;
                            }

                            .footer-column:nth-child(2n + 2) {
                                padding-left: 30px;
                                padding-right: 0;
                            }


                        }
